
@{
	ViewData["Title"] = "Home Page";
}
<div>
	<div class="home-container">
		<div id="grid-item">
			<h2>
				UI introduction
			</h2>
			<h4>
				Hello! This is general knowledge 15 questions quiz with 4 possible answers. To answer just choose one button and click it.

				After that you will get respond if your answer is correct. If so, you can press button with next question.
				Once per game you can use lifebelt option to skip answer you don't want to answer.

				If you have chosen wrong answer, you can start again by clicking back to start button. To start game, click button below.
			</h4>
		</div>
		<div id="grid-item">
			<h2>
				Architecture introduction
			</h2>
			<h4>
			This is a web application, which uses Model-View-Controller (MVC) design patter.

			Model part is supported by repository pattern, which contains businness logic with operations that should be performed by it.

			Application is connected to a local database.
			
			</h4>
		</div>
	</div>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
	
<a asp-controller="Question" asp-action="Index" asp-route-id="1" class="btn btn-secondary">Start Quiz</a>
}
</div>
